/*  border: 4px double #fd0000; */



body { /*Фон + основной цвет текста */
	background-color: white;
	color: #000000;
}
.wrapper { /* Грид */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.one { /* Логотип */
  grid-column-start: 1; 
  grid-column-end: 5; 
  grid-row-start: 1; 
  grid-row-end: 1;
}
img:hover { 
 filter: brightness(120%) drop-shadow(16px 16px 10px #808080) ;
}
.two {  /* Контакты */

  grid-column-start: 5; 
  grid-column-end: 7; 
  grid-row-start: 2;
  grid-row-end: 8;
    text-align: center;
    font-size: 1.0vw;
}
.three { /* Меню */
      grid-column-start: 2;
      grid-column-end:5;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 1vw;
      text-align: center;
  }
          div#menu { /* Общие настройки меню */
            display:inline-block;
            font-size: 1.0vw;
          height: 99%;
         }
        .menu_button{ /* Настройки кнопок  */
            display:inline-block;
            box-shadow: 0 0 10px 0 rgb(107, 25, 190), 0 0 6px 0 rgb(93, 22, 162), 0 0 10px 0 rgb(82, 20, 140);
            background: #e2b9ff; /* Цвет фона */
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 150px;
            margin: 10px ;
         }
		  .menu_button:hover {
    box-shadow: 0 0 10px 0 rgb(211, 172, 239), 0 0 6px 0 rgb(226, 185, 255), 0 0 10px 0 rgb(218, 176, 250);
}
         pre#Counter { /* Счетчики */
         line-height: 1.5;
         text-align: center;
         }
.four { /* Контент */
	opacity: 0.9;
	background: #e2b9ff; /* Цвет фона */
	height: 100%;
	color: #000000;
	font-size: 1.5vw;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 16;
}
         img#Img_body{ /* Картинка */
         float: left;
         margin-right: 5%;
         margin-left: 5%;
          }
          div#BodyImg { /* Текст */
          text-align: justify;
          display: inline-block;
          background-size: 40%, 100%;
		  margin: 0 3% 0 3%;
          }
          div#BodyImgText { /* Заглавление */
          text-align: center;
          font-size: 2vw;
          }
.five { /* Блок рекламы и что-то там о копирайте */
  text-align: center;
  font-size: 1.0vw;
  grid-column-start: 5; 
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 10;
}
.six { /* Блок рекламы и что-то там о копирайте */
    position: sticky;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    font-size: 1vw;

}
div#Copyright { /* что-то там о копирайте */
  top: 90%;
  color: #C0C0C0;
}
.menu_button_1{ /* Настройки кнопок  */
    color: #ff0000;
    box-shadow: 0 0 10px 0 rgba(255,255,0,0.6), 0 0 6px 0 rgba(255,255,0,0.8), 0 0 10px 0 rgba(255,255,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    height: 30px;
}
.menu_button_1:hover {
    box-shadow: 0 0 10px 0 rgba(0,255,0,0.6), 0 0 6px 0 rgba(0, 255, 0, 0.8), 0 0 10px 0 rgba(0, 255, 0, 0.6);
}

.footer
{
    position: fixed;
    left: 0; bottom: 0;
}

.admin_part
{
    position: sticky;
    top: 0;
    background: #5b7e3c; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5%; /* Поля вокруг текста */
    border-radius: 5px; /* Уголки */
    z-index: 1;
    text-align: center;
}